@use 'utilities' as u

@include u.reset


.active.modal
  display: flex
  

.modalbox
  position: absolute
  top: 2100px
  z-index: 25
  width: 100vw
  height: 120%
  display: none
  justify-content: center
  align-items: center
  backdrop-filter: blur(20px)

  @include u.responsive-sm
    align-items: start
    padding-top: 30px

  

.modal
  width: 95%
  max-width: 1300px
  background: #1c1816
  border-radius: 20px
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px
  display: flex
  align-items: start
  justify-content: space-between
  padding: 60px 30px
  display: none
  backdrop-filter: blur(10px)

  a
    color: white

  @include u.responsive-sm
    padding-top: 80px 
    align-items: center
    flex-direction: column
  
  @include u.responsive-ssm
    padding: 80px 0 60px

  &-video
    width: 52%
    height: 100%
    
    @include u.responsive-sm
      width: 85%
      height: 50%

    video
      width: 100%
      height: 100%
      border-radius: 10px

  &-text
    width: 45%
    height: 100%
    font-size: .9rem

    @include u.responsive-sm
      width: 85%
      margin: 30px 0 50px

    h1
        background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        animation: bg-position 2.5s infinite linear
        margin-bottom: 1rem

    ul
      color: #ddd
      list-style: none
      margin-bottom: 1rem
    
    p
      color: #ddd
      margin-bottom: 1rem

      &:last-of-type
        margin-bottom: 0

  .project-links
      position: absolute
      bottom: 15px

      @include u.responsive-sm
        bottom: 30px


      a
        color: white
        text-decoration: none
        font-size: .9rem
        padding: 5px 15px
        border-radius: 5px
        background: linear-gradient(90deg, rgba(241, 93, 26, .8), rgba(213, 44, 168, .8)) 
        margin: 0 15px

        @include u.responsive-sm
          margin: 0 25px
          font-size: 1.3rem

        @include u.responsive-ssm
          font-size: .9rem
          margin: 0

          &:last-of-type
            margin-left: 15px



       
          

  img
    width: 45px
    position: absolute
    right: 30px
    top: 10px
    cursor: pointer

.circle
  width: 100px
  height: 100px
  background: linear-gradient(168.18deg, rgba(240, 85, 0, 0.5) 27.05%, rgba(192, 0, 240, 0.500) 109.49%)
  border-radius: 50%
  position: absolute
  transform: translate(-50%, -50%)
  z-index: -1
  filter: blur(50px)

  @include u.responsive-ssm
    display: none

.scrollbtn
  width: 45px
  height: 45px
  border-radius: 5px
  background: linear-gradient(110deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
  color: white
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  bottom: 50px
  right: 40px
  box-shadow: #f15e1a61 0px 7px 29px 0px
  cursor: pointer
  transition: .3s
  opacity: 0
  z-index: 20

  i
    font-size: 1.2rem


header
  height: 100vh
  overflow: hidden 
  position: relative
  display: flex
  justify-content: center

  
  .shape
    width: 650px
    height: 650px
    background: linear-gradient(168.18deg, rgba(240, 85, 0, 0.5) 27.05%, rgba(192, 0, 240, 0.500) 109.49%)
    filter: blur(70px)
    border-radius: 50%
    position: absolute
    z-index: -1

    @include u.responsive-sm
      width: 400px
      height: 400px

    

  @keyframes naturalshape1 
    0%, 100%
      transform: translatey(-10%)

    50%
      transform: translatey(10%)
      
   

  @keyframes naturalshape2 
    0%, 100%
      transform: translatey(10%)

    50%
      transform: translatey(-10%)



  .sh1
    transform: rotate(240deg)
    bottom: -80px
    left: -350px
    animation: naturalshape1 infinite 10s linear alternate

    @include u.responsive-sm
      left: -200px

  .sh2
    top: 100px
    right: -350px
    animation: naturalshape2 infinite 10s linear alternate

    @include u.responsive-sm
      right: -200px

  .navbar
    width: 100%
    padding: 35px 10%
    height: 25px
    display: flex
    justify-content: space-between
    align-items: center
    position: fixed
    z-index: 5
    border-bottom: 1px solid #90909030
    backdrop-filter: blur(5px)
    background-color: #0e0c0ba3
      

    &-list
      list-style: none
      display: flex

      @include u.responsive-sm
        display: none

      li
        margin: 0 20px
        position: relative

        &::after
          content: ''
          width: 0%
          height: 2px
          background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
          position: absolute
          bottom: 0px
          left: 0
          transition: .3s

        &:hover 
          &::after
            width: 80%
      
        a
          color: white
          font-weight: 300
          text-decoration: none

    &-icons

      @include u.responsive-sm
        display: none

      a
        color: white
        font-size: 1.250rem
        margin: 0 15px
        cursor: pointer

        i
          transition: .5s

        .fa-instagram:hover
          color: #E1306C

        .fa-github:hover
          color:#c9510c

        .fa-whatsapp:hover
          color: #25d366

        .fa-linkedin-in:hover
          color: #0e76a8

    &-menu-icon
      display: none
      position: absolute
      right: 20px

      @include u.responsive-sm
        display: block
    
      img
        cursor: pointer
        width: 70px
        height: 70px

  .side-navbar
    position: absolute
    top: 0
    top: -100vh
    width: 100%
    height: 100vh
    background: #050404e6
    z-index: 10
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: .5s
    

    .close-icon
      width: 60px
      height: 60px
      position: absolute
      top: 10px
      right: 20px
      cursor: pointer

    .navbarmob-list
      width: 100%
      text-align: left
      list-style: none
      height: 300px
      margin-bottom: 150px

      li
        margin: 50px 0
        text-align: center

        &:last-of-type
          margin-top: 70px
          
        i
          margin: 0 20px

        a
          color: white
          text-decoration: none
          font-size: 2rem

          

    

  .hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 80%
    margin: auto
    color: white

    @include u.responsive
      width: 100%
      padding: 0 15px

    h3
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      font-weight: 200
      font-style: italic
      letter-spacing: 1.56px
      font-size: 1.3rem
      text-align: center

      @include u.responsive-sm
        font-size: 1rem
        margin-bottom: 18px

    h1
      font-size: 4.5rem
      font-weight: 600

      @include u.responsive-sm
        font-size: 2.8rem
        line-height: 50px
        text-align: center

      b
        background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        animation: bg-position 2.5s infinite linear

      @keyframes bg-position
        0%, 100%
          background-size: 250% 
          background-position: left center

        50%
          background-position: right center



    .hero-p-box
      text-align: center

      span
        font-size: 1.5rem
        font-weight: 100
        position: relative
        top: -15px

        @include u.responsive-sm
          font-size: 1rem
          top: 5px

//Link Ancora

.link-ancora
  position: absolute
  bottom: 20px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 150px
  animation: link-animation 5s infinite linear 

  .link-ancora-line
    height: 25px
    width: 1px
    background-color: #ffffff6e
    position: relative
    bottom: -35px
    left: -2px

  a
    color: white
    transform: rotate(90deg)
    text-decoration: none

@keyframes link-animation
  0%, 100%
    transform: translateY(0)

  50%
    transform: translateY(-10px)


//Section 1

.sc1-about
  @include  u.section-format

  @include u.responsive
    height: 100%
    padding: 100px 0

  &-flexbox
    display: flex
    justify-content: space-around
    align-items: center
    width: 95%
    max-width: 1100px

    @include u.responsive
      flex-direction: column
    
    .img-box
      width: 30%
      display: flex

      @include u.responsive
        width: 60%
        height: 70%

      @include u.responsive-ssm
        width: 80%
        height: 50%
      
      
      img
        width: 100%
        border-radius: 20px
        border: 1px solid  #f15e1ac3
        box-shadow: #f15e1a61 0px 7px 29px 0px
        filter: grayscale(100%)
        transition: .5s
        cursor: pointer
        object-fit: cover

        &:hover
          filter: grayscale(0%)

        @include u.responsive
          filter: grayscale(0%)
          
      
        

    .text-box
      width: 55%
      color: #ffffffe9
      display: flex
      flex-direction: column
      align-items: start
      justify-content: center

      @include u.responsive
        margin-top: 70px
        width: 95%

      
      h1
        font-size: 2.5rem
        margin-bottom: 10px

        @include u.responsive
          font-size: 2rem
          margin-bottom: 5px

        b
          background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          animation: bg-position 2.5s infinite linear

      p
        margin-bottom: 15px
        text-align: justify

        @include u.responsive-sm
          text-align: left
          line-height: 25px
          font-size: 0.95rem

      .cv-btn
        display: inline-block
        color: white
        text-decoration: none
        padding: 15px 20px
        background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
        border-radius: 5px
        margin-top: 10px
        transition: .5s all

        @include u.responsive
          font-size: 1.250rem

        &:hover
          transform: scale(1.05, 1.05)


//Section 2

.sc2-projects
  @include  u.section-format
  height: 100%
  padding: 100px 0
  
  .sc2-title
    width: 80%
    text-align: center
    margin-bottom: 5px
    font-size: 2.5rem
    color: white

    @include u.responsive-sm
      width: 95%
      margin-bottom: 10px

    b
      background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      animation: bg-position 2.5s infinite linear

  .sc2-subtitle
    color: white
    font-family: 'Montserrat', sans-serif
    font-weight: 200
    text-transform: uppercase
    letter-spacing: 1.56px
    text-align: center
    margin-bottom: 75px
    font-size: .9rem

    @include u.responsive-sm
      margin-bottom: 50px

    


  .btntypes
    //background-color: red
    padding: 10px 20px
    //border-radius: 25px
    //border: 1px solid #4545454e
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    text-align: center

    @include u.responsive-sm
      width: 95%
      padding: 10px
      justify-content: center


    button
      border: none
      padding: 10px 15px 
      border-radius: 5px
      background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
      color: white
      margin: 0 15px
      text-transform: uppercase
      font-weight: 600
      font-family: 'Montserrat'
      position: relative
      cursor: pointer
      transition: .3s

      @include u.responsive-sm
        padding: 10px
        font-size: 0.9rem
        margin: 10px

      &:hover
        transform: scale(1.05, 1.05)


  &-box
    margin-top: 50px
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 3rem
    width: 90%
    max-width: 1500px
    position: relative

    .project-single
      width: 300px
      height: 200px
      box-shadow: rgba(34, 34, 36, 0.221) 0px 3px 15px 0px
      border-radius: 12px
      background-size: cover
      background-position: center
      background-repeat: no-repeat 
      cursor: pointer
      transition: .5s

      &:hover
        transform: scale(1.2)

        @include u.responsive-ssm
          transform: scale(1.1)
          

        .infobar
          display: flex

        .project-single-text

          h1, ul
            display: none

          background-color: transparent

      @include u.responsive-sm
        width: 80%
        height: 300px
        margin-bottom: 30px

      @include u.responsive-ssm
        width: 95%
        height: 250px
        margin-bottom: 30px

      &-text
        text-align: center
        background-color: #000000c5
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 11px
        position: relative
        transition: .5s

        h1
          color: white
          font-size: 1.3rem
          margin-bottom: 10px
          pointer-events: none

        ul
          display: flex
          list-style: none
          pointer-events: none
          
          li
            background: linear-gradient(90deg, #f76c2c, #e83fbb)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            animation: bg-position 2.5s infinite linear
            margin: 0 5px
            
            i
              font-size: 1.250rem
              color: white

        .infobar
          display: flex
          justify-content: space-between
          align-items: center
          text-align: center
          position: absolute
          bottom: 0
          left: 0
          padding: 10px 10%
          display: none
          width: 100%
          background-color: #000000c3
          border-bottom-right-radius: 11px
          border-bottom-left-radius: 11px

          @include u.responsive
            padding: 15px 5%

          p
            font-size: .8rem
            font-weight: bold
            color: white
            font-family: 'Montserrat', sans-serif

            @include u.responsive
              font-size: .9rem


          button
            margin-right: 10px
            border: none
            padding: 5px 20px
            border-radius: 20px
            font-size: 0.8rem
            background-color: #db5313
            color: white
            font-family: 'Poppins'
            font-weight: bod
            cursor: pointer
            transition: .3s

            @include u.responsive
              font-size: 1rem

            &:hover
              background-color: #0000003a
              outline: 1px solid #ccc

            


    
        

    
           

    




  

           
