@use 'utilities' as u

@include u.reset

.circle
  width: 100px
  height: 100px
  background: linear-gradient(168.18deg, rgba(240, 85, 0, 0.5) 27.05%, rgba(192, 0, 240, 0.500) 109.49%)
  border-radius: 50%
  position: absolute
  transform: translate(-50%, -50%)
  z-index: -1
  filter: blur(50px)


header
  height: 100vh
  overflow: hidden 
  position: relative
  display: flex
  justify-content: center

  
  .shape
    width: 650px
    height: 650px
    background: linear-gradient(168.18deg, rgba(240, 85, 0, 0.5) 27.05%, rgba(192, 0, 240, 0.500) 109.49%)
    filter: blur(70px)
    border-radius: 50%
    position: absolute
    z-index: -1

    @include u.responsive-sm
      width: 400px
      height: 400px

    

  @keyframes naturalshape1 
    0%, 100%
      transform: translatey(-100px)

    50%
      transform: translatey(100px)

  @keyframes naturalshape2 
    0%, 100%
      transform: translatey(100px)

    50%
      transform: translatey(-100px)


  .sh1
    transform: rotate(240deg)
    bottom: -80px
    left: -350px
    animation: naturalshape1 infinite 10s linear alternate

    @include u.responsive-sm
      left: -200px

  .sh2
    top: 100px
    right: -350px
    animation: naturalshape2 infinite 10s linear alternate

    @include u.responsive-sm
      right: -200px

  .navbar
    width: 100%
    padding: 35px 10%
    height: 25px
    display: flex
    justify-content: space-between
    align-items: center
    position: fixed
    border-bottom: 1px solid #90909030
    backdrop-filter: blur(2px)
      

    &-list
      list-style: none
      display: flex

      @include u.responsive-sm
        display: none

      li
        margin: 0 20px
        position: relative

        &::after
          content: ''
          width: 0%
          height: 2px
          background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
          position: absolute
          bottom: 0px
          left: 0
          transition: .3s

        &:hover 
          &::after
            width: 80%
      
        a
          color: white
          font-weight: 300
          text-decoration: none

    &-icons

      @include u.responsive-sm
        display: none

      a
        color: white
        font-size: 1.250rem
        margin: 0 15px
        cursor: pointer

        i
          transition: .5s

        .fa-instagram:hover
          color: #E1306C

        .fa-github:hover
          color:#c9510c

        .fa-whatsapp:hover
          color: #25d366

        .fa-linkedin-in:hover
          color: #0e76a8

    &-menu-icon
      display: none
      position: absolute
      right: 20px

      @include u.responsive-sm
        display: block
    
      img
        cursor: pointer
        width: 70px
        height: 70px

  .side-navbar
    position: absolute
    top: 0
    right: -100%
    width: 100vw
    height: 100vh
    background: #0e0c0bb4
    backdrop-filter: blur(20px)
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: .5s
    

    .close-icon
      width: 60px
      height: 60px
      position: absolute
      top: 10px
      right: 20px
      cursor: pointer

    .navbarmob-list
      width: 100%
      text-align: left
      list-style: none
      height: 300px
      margin-bottom: 150px

      li
        margin: 50px 0
        text-align: center

        &:last-of-type
          margin-top: 70px
          
        i
          margin: 0 20px

        a
          color: white
          text-decoration: none
          font-size: 2rem

          

    

  .hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 80%
    margin: auto
    color: white

    @include u.responsive
      width: 100%
      padding: 0 15px

    h3
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      font-weight: 200
      font-style: italic
      letter-spacing: 1.56px
      font-size: 1.3rem

      @include u.responsive-sm
        font-size: 1rem
        margin-bottom: 18px

    h1
      font-size: 4.5rem
      font-weight: 600

      @include u.responsive-sm
        font-size: 2.8rem
        line-height: 50px
        text-align: center

      b
        background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        animation: bg-position 2.5s infinite linear

      @keyframes bg-position
        0%, 100%
          background-size: 250% 
          background-position: left center

        50%
          background-position: right center



    .hero-p-box
      text-align: center

      span
        font-size: 1.5rem
        font-weight: 100
        position: relative
        top: -15px

        @include u.responsive-sm
          font-size: 1rem
          top: 5px
        

    
           

    




  

           
