@use 'utilities' as u

@include u.reset

.circle
  width: 100px
  height: 100px
  background: linear-gradient(168.18deg, rgba(240, 85, 0, 0.5) 27.05%, rgba(192, 0, 240, 0.500) 109.49%)
  border-radius: 50%
  position: absolute
  transform: translate(-50%, -50%)
  z-index: -1
  filter: blur(50px)


header
  height: 100vh
  overflow: hidden 
  position: relative
  display: flex
  justify-content: center

  
  .shape
    width: 650px
    height: 650px
    background: linear-gradient(168.18deg, rgba(240, 85, 0, 0.5) 27.05%, rgba(192, 0, 240, 0.500) 109.49%)
    filter: blur(70px)
    border-radius: 50%
    position: absolute
    z-index: -1

    

  @keyframes naturalshape1 
    0%, 100%
      transform: translatey(-100px)

    50%
      transform: translatey(100px)

  @keyframes naturalshape2 
    0%, 100%
      transform: translatey(100px)

    50%
      transform: translatey(-100px)


  .sh1
    transform: rotate(240deg)
    bottom: -80px
    left: -350px
    animation: naturalshape1 infinite 8s linear

  .sh2
    top: 100px
    right: -350px
    animation: naturalshape2 infinite 8s linear

  .navbar
    width: 100%
    padding: 35px 10%
    height: 25px
    display: flex
    justify-content: space-between
    align-items: center
    position: fixed
    border-bottom: 1px solid #90909030
    backdrop-filter: blur(2px)
      

    &-list
      list-style: none
      display: flex

      li
        margin: 0 28px
        position: relative

        &::after
          content: ''
          width: 0%
          height: 2px
          background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
          position: absolute
          bottom: 0px
          left: 0
          transition: .3s

        &:hover 
          &::after
            width: 80%
      
        a
          color: white
          font-weight: 300
          text-decoration: none

    &-icons

      a
        color: white
        font-size: 1.250rem
        margin: 0 15px
        cursor: pointer

        i
          transition: .5s

        .fa-instagram:hover
          color: #E1306C

        .fa-github:hover
          color:#c9510c

        .fa-whatsapp:hover
          color: #25d366

        .fa-linkedin-in:hover
          color: #0e76a8

  .hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 80%
    margin: auto
    color: white

    h3
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      font-weight: 200
      font-style: italic
      letter-spacing: 1.56px
      font-size: 1.3rem

    h1
      font-size: 4.5rem
      font-weight: 600

      b
        background: linear-gradient(90deg, rgba(241, 93, 26, 1), rgba(213, 44, 168, 1))
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        animation: bg-position 3s infinite linear

      @keyframes bg-position
        0%, 100%
          background-size: 250% 
          background-position: left center

        50%
          background-position: right center



    p
      font-size: 1.5rem
      font-weight: 100
      position: relative
      top: -15px

    
           

    




  

           
